<!DOCTYPE html>
{% extends "base.html" %}

{% comment %}
    This is the user_login.html file. 
    This file will inherit the basic structure from base.html file.
    Here you will find a simple login form.
{% endcomment %}

{% block body %}
<div class="login-form">
    <h1 class="section-head">Please<span class="change-color">Login</span>.</h1>
    <form action="{% url 'core:user_login' %}" method="post">
        {% csrf_token %}
        {{ login_form.as_p }}
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}