{% extends 'base.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <section id="hero">
            <div class="hero-title">
                <h1 class="main-title">Welcome to <br> TechShoi Database <br> <span class="change-color">Analytics</span></h1>

            </div>
            <div class="hero-image">
                <img id="hi-special" src="{% static 'images/analytics-graphics.svg' %}" alt="main-graphics">
            </div>
        </section>
    </div>

    <section id="application-details">
        <div class="container">
            <br><br><br><br><br><br><br>
            <p class="lead">This page is currently under constraction :(</p>
        </div>
    </section>

{% endblock %}